# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction

Some of the popular languages that Data Scientists use are:
1. HTML
2. R
3. Stata

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. TensorFlow
3. Keras

| Data Science Tools |
| ------ |
|RStudio |
| Apache Spark |
| TensorFlow |

Below are a few examples of evaluating arithmetic expressions in Python.

In [17]:
print('This a simple arithmetic expression to mutiply then add integers')
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [19]:
print('This will convert 200 minutes to hours by diving by 60')
200/6

This will convert 200 minutes to hours by diving by 60

33.333333333333336

## Author
Marc